<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus
          dolor neque magnam accusamus? Dignissimos sunt aspernatur quas
          delectus, est ab optio? Animi sapiente veritatis accusantium,
          voluptatibus id voluptas aut modi unde soluta dolorem esse sed
          similique eum hic consequatur, architecto in deleniti nostrum?
          Quisquam assumenda repudiandae corrupti fugiat. Praesentium, veniam!
          Fugiat deleniti cum voluptas provident. Nam qui nesciunt, tempora
          accusamus odio laudantium ullam laboriosam repudiandae, beatae
          officiis reiciendis fugit dolor? Pariatur, minima rem aperiam iure
          aliquid aliquam aspernatur explicabo reiciendis vel omnis corporis,
          reprehenderit porro error qui molestiae ad in eaque optio nostrum
          ullam deserunt dolores dolore temporibus? Autem quos maxime nobis vero
          numquam, quia, ipsa beatae iste suscipit reprehenderit veniam
          blanditiis tempora architecto possimus similique error facilis odit
          minus, exercitationem quas est. Eius deleniti repellat quam
          dignissimos magnam! Eveniet nihil quos tempore laudantium quidem
          doloremque voluptate eos, natus minima temporibus voluptatibus optio
          odio officia recusandae in error dolore exercitationem, omnis
          molestiae neque sunt officiis alias vero! Aliquam saepe tenetur
          laudantium, pariatur excepturi harum architecto officiis odit sequi
          inventore quibusdam recusandae aspernatur adipisci sunt quaerat
          debitis nostrum voluptas veritatis dolor rerum. Rem odio, non dolorem
          a beatae, officiis mollitia porro saepe molestiae voluptate dolorum
          dolores voluptatibus harum asperiores incidunt esse obcaecati nobis
          tempora soluta corrupti neque dolore. Suscipit, ad exercitationem
          minima asperiores provident sint? Consequatur sequi perspiciatis
          voluptate quaerat, suscipit nisi inventore, animi sunt nulla
          accusantium soluta ducimus quas. Iure, vel necessitatibus? Eum, omnis!
          Vel consequuntur assumenda repellendus, quasi similique provident
          minima sit itaque amet quod quidem quisquam facilis, ex nam odit
          voluptates non aliquam minus sed adipisci. Praesentium adipisci rem,
          in eum delectus error quasi accusamus quibusdam esse quaerat, quia,
          ratione commodi quis soluta neque expedita sapiente. Expedita animi
          et, labore quaerat sapiente deleniti perferendis accusamus possimus
          voluptates architecto ea placeat eligendi repellat commodi blanditiis
          magni quis numquam iure!
        </p>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
